venv/
.venv/
env/

# Веса моделей
models/*.onnx
output/
testvideos/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm
.idea/

# EasyOCR кэш
.EasyOCR/

.DS_Store
Thumbs.db

*.ipynb_checkpoints/
.ipynb_checkpoints/
