# Установка torch с поддержкой CUDA (обязательно именно эта команда):
# pip install torch torchvision --index-url https://download.pytorch.org/whl/cu124
#
# Остальные зависимости:
# pip install -r requirements.txt
#
# Важно: numpy должен быть <2, не обновляйте до 2.x

numpy==1.26.4
opencv-python==4.9.0.80
ultralytics==8.4.60
easyocr==1.7.1
torch==2.6.0+cu124
torchvision==0.21.0+cu124
pandas==2.3.3